snippet ( "(" iA
($1)$0
endsnippet

snippet [ "[" iA
[$1]$0
endsnippet

snippet { "{" iA
{$1}$0
endsnippet

context "snip.buffer[snip.column]=='}' and snip.buffer[snip.column-1]=='{'"
snippet { "{ ... }" i
{
	$0
endsnippet

