extends brackets
extends c

snippet fori "Iteration Loop" 
for(${1:iterator} : ${2:container}){
	${4:/* code */}
}$0
endsnippet

snippet foris "Single-Line iteration Loop" 
for(${1:iterator} : ${2:container})
	${4:/* code */}$0
endsnippet

snippet class "Class Construction"
class ${1:AClass}{
private:
	${2:/* private */}
public:
	${3:/* public */}
}$0
endsnippet
