snippet e "enumerate" b
1. $0
endsnippet

snippet i "item" b
* $0
endsnippet

snippet it "italic" i
*${1:${VISUAL}}* $0
endsnippet

snippet b "bold" i
**${1:${VISUAL}}** $0
endsnippet

snippet mi "math inline" i
\(${1:${VISUAL}}\)$0
endsnippet

snippet md "math display" i
\[${1:${VISUAL}}\]$0
endsnippet
