snippet e "enumerate" b
1. $0
endsnippet

snippet i "item" b
* $0
endsnippet

snippet it "italic" i
*${VISUAL}*
endsnippet

snippet b "bold" i
**${VISUAL}**
endsnippet

snippet mi "math inline" i
\(${VISUAL}\)
endsnippet

snippet md "math display" i
\[${VISUAL}\]
endsnippet
